<%= form_for @teacher do |f| %>
  <div class="field">  
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> 
  </div>
  <div class="field">  
    <%= f.label :last_name %>
    <%= f.text_field :last_name %> 
  </div>
  <br>
  <div class='field'>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div> 
  <br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br>
  <button>In Development</button>
<% end %>