<%= form_for @class_room do |f| %>
  <div class="field">  
    <%= f.label :name %>
    <%= f.text_field :name %> 
  </div>
  <br>
  <div class='field'>
    <%= f.label :qualifications %>
    <%= f.text_field :qualifications %>
  </div> 
  <br>
  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade %>
  </div>
  <br>
  <%= f.submit %>
<% end %>