<h1><%= @class_room.subject %></h1>

<%= @class_room.teacher.name %>

<p><strong>Teahcer <%= @class_room.teacher.name %></strong></p>
    <% @class_room.students.each do |student| %>
        <p><%= link_to student.name, student_gradebook_path(student.id) %></p>
    <% end %>
<% if !@class_room.is_full %>
    <%= link_to 'Add Students', class_room_add_student_path(@class_room) %>
<% end %>
<br>
<br>
<%= link_to 'Class Assingments', new_class_room_assignment_path(@class_room.id) %>
