<%= form_for @teacher do |f| %>
  <div class="field">  
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> 
  </div>
  <br>
  <div class="field">  
    <%= f.label :last_name %>
    <%= f.text_field :last_name %> 
  </div>
  <br>
  <div class='field'>
    <%= f.label :subjects %>
    <p>in Development</p>
  </div> 
  <br>
  <div class="field">
    <%= f.label :qualifications %>
    <p>In Development</p>
  </div>
  <br>
  <button>In Development</button>
<% end %>